<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #f2="ngForm" (ngSubmit)="onSubmit(f2)">
    <ion-list lines="none">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon color="secondary" name="mail" slot="start"></ion-icon>
        <ion-input
          type="email"
          ngModel
          name="email"
          email
          required
          #emailCtrl="ngModel"
          placeholder="Email">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <p>*Por favor ingrese su dirección de correo electrónico válida</p>
      </ion-text>
    </ion-list>

    <div class="ion-text-center">
      <ion-button *ngIf="!isLoading" type="submit" color="secondary" [disabled]="!f2.valid">Enviar encalce</ion-button>
      <ion-button *ngIf="isLoading" shape="round" color="secondary" [disabled]="!f2.valid">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-button>
    </div>
  </form>

</ion-content>
